$color-main--dark: #63a60f;
$color-main--light: #e0edcf;
$color-main--lighter: #eff6e7;
$color-title: #121212;
$color-text--main: #505050;
$color-text-second: #ffffff;
$color-warning: #cf3e3b;
$color-background: #31352b;
$color-btn--hover: #4d800c;
$color-hit: #ff7a00;
$color-like--hover: #ffb800;

$silver-bright: #c1c1c1;
$silver-light: #f6f6f6;

%bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%badge-hit {
  width: 34px;
  height: 16px;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: $color-hit;
  color: $color-text-second;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%badge-sale {
  width: 37px;
  height: 16px;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: $color-warning;
  color: $color-text-second;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%badge-new {
  width: 66px;
  height: 16px;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: $color-main--dark;
  color: $color-text-second;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
