@import "vars";
@import "fonts";
@import "libs.scss";
@import "global";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %opensans-400;
  font-size: 14px;
  line-height: 1.4;
  color: $color-text--main;
}

.main {
  flex-grow: 1;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 12px 24px;
  background-color: $color-main--dark;
  border-radius: 6px;
  color: $color-text-second;
  transition: all 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 4px $color-main--light;
  }

  &:hover {
    background-color: $color-btn--hover;
  }

  &:active {
    color: rgba(#ffffff, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.logo-image {
  display: inline;
}

.header {
  position: relative;
  letter-spacing: 0.03em;
  &__top {
    padding: 14px 0;
    background-color: $color-background;
    @extend %opensans-700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 13px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__link {
    position: relative;
    padding: 2px 0 2px 44px;
    color: $color-text-second;
    transition: opacity, color 0.3s;

    &--phone {
      padding-left: 34px;
    }

    &--delivery::before {
      width: 32px;
      background-image: url("../images/icons/delivery.svg");
    }

    &--phone::before {
      width: 22px;
      background-image: url("../images/icons/phone.svg");
    }
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link:active {
    color: $color-main--light;
  }

  &__link::before {
    content: "";
    position: absolute;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    @extend %bg;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $color-main--dark;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    color: $color-text-second;
    @extend %opensans-700;
    font-size: 13px;
    border-radius: 3px;
    transition: opacity, box-shadow 0.3s;
  }

  &__link:focus {
    box-shadow: 0px 0px 0px 3px #eff6e7;
  }

  &__link:hover {
    opacity: 0.7;
  }
}

.catalog {
  position: relative;
  padding: 15px 18px 15px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  background-color: $color-text-second;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: $color-main--dark;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: $color-main--light;
    border-radius: 6px 6px 0px 0px;
  }

  &:hover ul {
    transform: translateY(0);
  }

  &:hover button {
    transform: rotate(180deg);
  }

  &__burger {
    position: absolute;
    left: 18px;
    display: block;
    height: 1px;
    width: 20px;
    background-color: $color-main--dark;
  }

  &__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: $color-main--dark;
  }

  &__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: $color-main--dark;
  }

  &__btn {
    position: absolute;
    top: 23px;
    right: 19px;
    @extend %bg;
    background-image: url("../images/icons/arrow.svg");
    width: 8px;
    height: 4px;
    transition: transform 0.3s;
  }

  &__list {
    min-width: 240px;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: $color-text-second;
    border: 1px solid $silver-bright;
    border-radius: 0px 0px 6px 6px;
    transform: translateY(-150%);
  }

  // &__item {
  //   padding: 15px 24px;
  // }

  &__item:hover {
    border-left: 3px solid $color-main--dark;
    color: $color-main--dark;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $silver-bright;
  }

  &__link {
    display: block;
    padding: 15px 24px;
    height: 49px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-title;
    transition: border-left, color 0.3s;
  }

  &__link:focus {
    border: 3px solid $color-main--light;
  }

  &__link:hover {
    border-left: 3px solid $color-main--dark;
    color: $color-main--dark;
  }

  &__link:active {
    color: $silver-bright;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);

  &__input {
    padding-left: 51px;
    width: 420px;
    height: 50px;
    background-color: $color-text-second;
    border-radius: 6px 0 0 6px;
  }

  &__button {
    width: 158px;
    height: 50px;
    text-transform: uppercase;
    background-color: $color-background;
    color: $color-text-second;
    border-radius: 0 6px 6px 0;
    transition: border, opacity 0.3s;
  }

  &__button:focus {
    border: 4px solid $color-main--light;
  }

  &__button:hover {
    opacity: 0.85;
  }

  &__button:active {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/search.svg");
    @extend %bg;
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 33px;
  }

  &__link {
    position: relative;
    display: block;
    @extend %bg;

    &--user {
      width: 25px;
      height: 32px;
      background-image: url("../images/icons/user.svg");
    }

    &--fav {
      width: 32px;
      height: 29px;
      background-image: url("../images/icons/favourites.svg");
    }

    &--cart {
      width: 32px;
      height: 30px;
      background-image: url("../images/icons/cart.svg");
    }
  }

  &__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: all 0.3s;
  }

  &__link:hover:before {
    background-color: $color-text-second;
    opacity: 0.1;
  }

  &__link:focus:before {
    box-shadow: inset 0px 0px 0px 3px #eff6e7;
  }

  &__link:active {
    opacity: 0.5;
  }

  &__num {
    position: absolute;
    top: -9px;
    left: -6px;
    width: 18px;
    height: 18px;
    background-color: $color-text-second;
    border-radius: 50%;
    text-align: center;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 1.8;
    color: $color-warning;
  }
}

.cart-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 476px;
  height: 95vh;
  background-color: $color-text-second;
  color: #000000;
  z-index: 1;
  transform: translateY(-150%);
  &__header {
    position: relative;
    padding: 19px 24px 11px;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 13px;
    padding: 13px;
    background-image: url("../images/icons/close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(193, 193, 193, 0.3);
    }
  }
  &__title {
    display: block;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
  }
  &__reset {
    @extend %opensans-300;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    &:hover {
      border-bottom: 1px solid #000000;
    }
  }

  &__list {
    height: calc(95vh - 145px - 90px);
    background-color: $silver-light;
    padding: 12px 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 452px;
    height: 84px;
    margin: 0 auto 12px;
    padding: 0 12px 10px;
    @extend %opensans-600;
    background-color: $color-text-second;
    border: 1px solid $silver-bright;
    border-radius: 3px;
    color: $color-title;
    transition: border-color 0.3s;
    &:hover {
      border-color: $color-main--dark;
    }
  }

  &__delete {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px;
    background-image: url("../images/icons/closemini.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(193, 193, 193, 0.3);
    }
  }

  &__img {
    margin-right: 33px;
  }

  &__content {
    width: 170px;
    margin-right: 12px;
    letter-spacing: 0.03em;
  }

  &__product {
    display: block;
    margin-bottom: 5px;
  }
  &__cost {
    line-height: 1;
    font-size: 20px;
  }

  &__currency {
    font-size: 14px;
  }

  &__cost-total {
    @extend %opensans-600;
    margin-left: 11px;
    font-size: 20px;
    line-height: 1;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: $color-text-second;
  }

  &__text {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  &__btn {
    display: block;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    background-color: $color-main--dark;
    padding: 23px 0;
    text-align: center;
    color: $color-text-second;
  }
}

.cart-list.cart-list--active {
  transform: translateY(0);
}

.footer {
  padding: 30px 0 24px;
  background-color: $color-background;
  color: $color-text-second;

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    border-top: 1px solid rgba(#ffffff, 0.1);
  }

  &__copyright {
    text-transform: uppercase;
    color: inherit;
  }

  &__wrapper {
    display: flex;
    padding-top: 30px;
    color: $color-text-second;
  }

  &__link {
    color: inherit;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__block {
    display: flex;
    margin: 0 150px;
  }

  &__list:not(:last-child) {
    margin-right: 68px;
  }
}

.feedback {
  &__form {
    display: flex;
    align-items: center;
    margin: 18px 0 66px;
  }

  &__input {
    padding: 12px;
    background-color: $color-text-second;
    height: 40px;
    width: 180px;
    border-radius: 6px 0 0 6px;
  }

  &__btn {
    background-color: $color-main--dark;
    height: 40px;
    width: 125px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    color: inherit;
    transition: all 0.3s;
  }

  &__btn:focus {
    box-shadow: 0px 0px 0px 4px $color-main--light;
  }

  &__btn:hover {
    background-color: $color-btn--hover;
  }

  &__btn:active {
    color: rgba(#ffffff, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.contacts {
  &__link {
    color: inherit;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__list {
    margin-bottom: 18px;
  }
}

.social {
  display: flex;

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    @extend %bg;
    border-radius: 3px;
    transition: all 0.3s;

    &--facebook {
      // width: 16px;
      background-image: url("../images/icons/facebook.svg");
    }

    &--youtube {
      background-image: url("../images/icons/youtube.svg");
    }

    &--telegram {
      background-image: url("../images/icons/telegram.svg");
    }

    &--instagram {
      background-image: url("../images/icons/instagram.svg");
    }
  }

  &__link:focus {
    box-shadow: 0px 0px 0px 3px $color-main--light;
  }

  &__link:hover {
    opacity: 0.7;
  }

  // &__link:active {
  //   fill: $color-main--light;
  // }

  &__item:not(:last-child) {
    margin-right: 12px;
  }
}

.payment {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    display: block;
    height: 29px;

    &--visa {
      width: 93px;
      background-image: url("../images/icons/visa.svg");
      @extend %bg;
    }

    &--master {
      width: 49px;
      background-image: url("../images/icons/mastercard.svg");
      @extend %bg;
    }
  }
}

.slider {
  &__item {
    padding: 142px 0;
    @extend %bg;
  }

  &__content {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    background-color: rgba(#ffffff, 0.8);
    color: $color-text--main;
  }

  &__text {
    max-width: 761px;
    width: 100%;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__accent {
    color: $color-warning;
  }

  &__descr {
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
  }
}

.slick {
  &-arrow {
    top: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 14px 20px;
    transform: translateY(-50%);
    background-color: rgba(#ffffff, 0.8);
    border-radius: 6px;
    transition: all 0.3s;
  }

  &-arrow:focus {
    box-shadow: 0px 0px 0px 3px #b1d387;
  }

  &-arrow:hover {
    background-color: $color-main--light;
    // fill: $color-main--dark;
  }

  &-prev {
    left: 60px;
    z-index: 1;
  }

  &-next {
    right: 60px;
  }

  &-track {
    height: 583px;
  }
}

.service {
  background-color: $silver-light;
  &__wrap {
    padding: 48px 186px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    @extend %opensans-600;
  }

  &__item {
    position: relative;
    padding-left: 74px;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    @extend %bg;
  }

  &__item--shipment::before {
    background-image: url("../images/icons/shipment.svg");
  }

  &__item--return::before {
    background-image: url("../images/icons/return.svg");
  }

  &__item--support::before {
    background-image: url("../images/icons/support.svg");
  }

  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__title {
    font-size: 16px;
    @extend %opensans-600;
    color: $color-title;
  }
}

.top {
  padding: 72px 0;
  &__title {
    margin-bottom: 30px;
    @extend %ruda-600;
    font-size: 32px;
    text-transform: uppercase;
    color: $color-title;
    text-align: center;
  }

  &__button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }

  &__button-item:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    @extend %opensans-700;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-main--light;
    }

    &:hover {
      color: $color-main--dark;
    }

    &:active {
      border-bottom: 3px solid $color-main--light;
    }
  }

  &__product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__image-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 409px;
    padding: 57px 0 0;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    transition: all 0.3s;
    &:hover {
      border-color: $color-main--dark;
      &:after {
        content: "";
        position: absolute;
        top: 141px;
        transform: translateX(-50%);
        left: 50%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-image: url("../images/icons/searchgreen.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $color-text-second;
        z-index: 1;
      }
      &:before {
        content: "";
        position: absolute;
        top: 57px;
        left: 0;
        padding: 110px 0;
        width: 100%;
        background-color: #0000001a;
      }
    }
  }

  &__new {
    position: absolute;
    top: 12px;
    left: 11px;
    @extend %badge-new;
  }

  &__hit {
    position: absolute;
    top: 12px;
    left: 11px;
    @extend %badge-hit;
  }

  &__sale {
    position: absolute;
    top: 33px;
    left: 11px;
    @extend %badge-sale;
  }

  &__like {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 44px;
    height: 44px;
    padding: 9px 6px;
    margin-bottom: 3px;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
      path {
        fill: $color-like--hover;
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $color-main--light;
    }

    &:active {
      path {
        fill: $color-like--hover;
        opacity: 0.5;
      }
    }
  }

  &__img {
    @extend %bg;
    margin-bottom: 18px;
  }

  &__text {
    @extend %opensans-600;
    margin: 0 18px;
  }

  &__price {
    margin-right: 60px;
  }

  &__price--old,
  &__price--new {
    letter-spacing: 1;
  }

  &__price--old {
    position: relative;
    color: $silver-bright;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 33%;
      border-bottom: 1px solid $silver-bright;
      width: 100%;
      transform: rotate(-16deg);
    }
  }

  &__cart {
    width: 32px;
    height: 32px;
    padding: 8px;
    background-image: url("../images/icons/cartmini.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $color-main--dark;
    border-radius: 3px;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px $color-main--light;
    }

    &:hover {
      background-color: $color-btn--hover;
    }

    &:active {
      color: rgba(#ffffff, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 18px 18px;
  }

  &__count {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 36px;
    height: 24px;
    background-color: $color-main--lighter;
    text-align: center;
  }

  &__button {
    display: block;
    margin: 0 auto 72px;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    border: 1px solid $color-main--dark;
    border-radius: 6px;
    color: $color-main--dark;
    transition: box-shadow, background-color 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 4px #63a60e80;
    }

    &:hover {
      background-color: $color-main--lighter;
    }

    &:active {
      box-shadow: inset 0px 10px 4px #0000001a;
    }
  }

  &__slider-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: all 0.5s;
  }
  &__slider-item {
    height: 300px;
    padding: 76px 32px;
    text-transform: uppercase;
    @extend %bg;
    border-radius: 6px;
    flex: 1;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__slider--active {
    flex: 2.4;
    color: $color-text-second;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    .top__slider-title {
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    .top__slider-link {
      border-color: $color-text-second;
    }
  }

  // &__slider-item:not(:last-child) {
  //   margin-right: 30px;
  // }

  &__slider-descr {
    display: block;
    @extend %opensans-700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 18px;
  }

  &__slider-title {
    @extend %ruda-600;
    font-size: 30px;
    margin-bottom: 12px;
  }

  &__slider-link {
    @extend %opensans-700;
    line-height: 1;
    padding-bottom: 6px;
    border-bottom: 2px solid $color-text--main;
    color: inherit;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.btn-minus,
.btn-plus {
  color: transparent;
  min-width: 24px;
  height: 24px;
  background-color: $color-main--dark;
}

.btn-minus {
  position: relative;
  border-radius: 3px 0px 0px 3px;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    background-image: url("../images/icons/minus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
  }
}

.btn-plus {
  position: relative;
  border-radius: 0px 3px 3px 0px;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    background-image: url("../images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
  }
}

// .slick {
//   &-slide:not(:last-child) {
//     margin-right: 30px;
//   }

//   &-active {
//     color: $color-text-second;
//     text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
//     .top__slider-title {
//       text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
//     }
//     .top__slider-link {
//       border-color: $color-text-second;
//     }
//   }
// }

// &__new-price {
// }

// .top__product-list {
// }
// .top__item {
// }

// .top__bottom {
// }

// .top__cart {
// }
// .top__button {
// }
// .top__slider {
// }
// .top__slider-list {
// }
// .top__slider-item {
// }
// .top__slider-descr {
// }
// .top__slider-title {
// }
// .top__slider-link {
// }

@import "media";
