.footer {
  padding: 30px 0 24px;
  background-color: $color-background;
  color: $color-text-second;

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    border-top: 1px solid rgba(#ffffff, 0.1);
  }

  &__copyright {
    text-transform: uppercase;
    color: inherit;
  }

  &__wrapper {
    display: flex;
    padding-top: 30px;
    color: $color-text-second;
  }

  &__link {
    color: inherit;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__block {
    display: flex;
    margin: 0 150px;
  }

  &__list:not(:last-child) {
    margin-right: 68px;
  }
}
