.slick {
  &-arrow {
    top: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 14px 20px;
    transform: translateY(-50%);
    background-color: rgba(#ffffff, 0.8);
    border-radius: 6px;
    transition: background-color, box-shadow 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 3px #b1d387;
    }

    &:hover {
      background-color: $color-main--light;
    }
  }

  &-prev {
    left: 60px;
    z-index: 1;
  }

  &-next {
    right: 60px;
  }

  &-track {
    height: 583px;
  }
}
