.slider {
  &__item {
    padding: 142px 0;
    @extend %bg;
  }

  &__content {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    background-color: rgba(#ffffff, 0.8);
    color: $color-text--main;
  }

  &__text {
    max-width: 761px;
    width: 100%;
    font-family: "Ruda", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__accent {
    color: $color-warning;
  }

  &__descr {
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
  }
}
