.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %bg;
    width: 50px;
    height: 50px;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
      transition: background-color, opacity, box-shadow 0.3s;
    }

    &:hover:before {
      background-color: $color-text-second;
      opacity: 0.1;
    }

    &:focus:before {
      box-shadow: inset 0px 0px 0px 3px #eff6e7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__num {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: $color-text-second;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.8;
    color: $color-warning;
  }
}
